#. gitignore settings for Soundloom

# Intermediate object files
*.o
*.os
*.so
**/*.a
*~


# libraries and executables
/lib*.*/
.libs
/build/
/bin
*.exe
*.DS_Store
*.xcodeproj
/snack/snack2.2.10-x64/unix/x64dist
/snack/snack2.2.10-x64/unix/arm64dist

*.wav
*.ana

